tomroot
output
build
logs
.DS_Store
.vscode
*.o
*.a
.ipynb_checkpoints/
__pycache__/
solver/build
tests/x_*
tests/*.mat
python/*laplac*
python/*r3*
python/*.mat
tests/bin_plot*
tests/gpu_A_plot*
*.egg-info
data/lasco_c2/index/
data/lasco_c2_2007/
data/lasco_c2_2007_partial/
data/lasco_c2_2023/
data/lasco_c2_2023_partial/
data/lasco_c2_partial/
data/mhd/
data/mhd_2008/
data/mhd_2023/
data/my_lasco_c2/
data/orbit/
data/projection/
data/temp.conf
data/temp/
build_A_matrix.cu
build_A_matrix_old.cu
python/x_*
python/y_*
python/virtual_*
python/viewpoints_*
python/std_*
python/same_*
python/error_*
python/*.png
python/*.pdf
python/*.txt
data/mhd_*
python/metric*
python/mhd_*
metadata/
lbfgsb-gpu/
lambda/